<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
<link rel="stylesheet" href="/stylesheets/afterOrder.css">

<div id="pdf">
    <header>
        <div>
            <h1>Billing Page</h1>
        </div>
    </header>

    <div class="shopName">
        <h2>Shop Name : <%= shopName %></h2>
    </div>

    <main>


        <table class="table">
            <thead>
            <tr>
                <th>Description</th>
                <th>Quantity</th>
                <th>Cost</th>
                <th>Total</th>

            </tr>
            </thead>
            <tbody>

            <% for(var i = 0;i < orderInfo.length;i++){ %>
                <% if(orderInfo[i].medQuantity > 0){ %>
                    <tr>
                        <td> <%= orderInfo[i].medName %> </td>
                        <% const quantId = `quant${i}` %>
                        <td id='<%= quantId %>'> <%= orderInfo[i].medQuantity %></td>
                        <% const costId = `cost${i}` %>
                        <td>
                            <span><i class="fas fa-rupee-sign"></i></span>
                            <span id="<%= costId %>"><%= orderInfo[i].medPrice %> </span>
                        </td>
                        <% const totalId = `total${i}` %>
                        <td>
                            <span><i class="fas fa-rupee-sign"></i></span>
                            <span id="<%= totalId %>">0 </span>
                        </td>
                    </tr>
                <% } %>
            <% } %>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><h3>SubTotal </h3></td>
                <td></td>
                <td></td>
                <td>

                    <span><i class="fas fa-rupee-sign"></i></span>
                    <span id="subtotal"> <i></i></span>
                </td>
            </tr>
            <tr>
                <td><h3>GST</h3></td>
                <td></td>
                <td></td>
                <td><h3>5%</h3></td>

            </tr>

            </tbody>
        </table>


        <div class="subTotal">
            <span><i> <h3>Final Amount:  </h3></i></span>
            <span><i class="fas fa-rupee-sign"></i></span>
            <span id="fianlAmount"><i>    </i></span>

        </div>
    </main>
</div>

<button class="pay-btn" onclick="print1()">
    Print
</button>

<button class='pay-btn'>
    <h2><a style="text-decoration: none; color: red " href="/shop/offlineOrder">Go Back</a></h2>
</button>

<script>
  let subTotal = 0;
  const len = parseInt(JSON.stringify(<%= orderInfo.length %>));

  function calulate() {
    for (var i = 0; i < len; i++) {
      if (!document.getElementById(`quant${i}`))
        continue;
      let q = parseInt(document.getElementById(`quant${i}`).innerText)
      let c = parseInt(document.getElementById(`cost${i}`).innerText)
      let final = q * c;
      subTotal += final;
      document.getElementById(`total${i}`).innerText = final;
    }
    document.getElementById('subtotal').innerText = `${subTotal}`
    subTotal = (subTotal * 5) / 100 + subTotal;
    document.getElementById('fianlAmount').innerText = `${subTotal}`

  }

  calulate();

  function print1() {
    let rem = document.getElementsByClassName('pay-btn');
    rem[0].style.display = "none";
    rem[1].style.display = "none";
    window.print();
    rem[0].style.display = "block";
    rem[1].style.display = "block";
  }
</script>